{% extends "base.html"%}
{% load static %}         
{% block body_content %}
<br>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Shiksha : A career guide</h1>
            <p>We have a unique assessment plan to understand the needs of students at each stage. We help students understand, evaluate and determine the most suitable career based on their suitability, multiple intelligences, interests, priorities, learning habits, learning styles, adjustment levels, ambitions and thought processes. When choosing a suitable career for students, our proprietary career recommendation engine also considers external factors such as opportunity, suitability, personal circumstances, budget, and demographic data. Combining these valuable insights, our experts are ready to lead your children into the future that suits them best.</p>

        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h3>Leadership Principles</h3>
                <p>Our Leadership Principles are more than inspirational wall hangings. The 14 principles guide our
                    discussions and decisions every day. </p>
                <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h3>Our Positions </h3>
                <p>While our positions are carefully considered and deeply held, there is much room for healthy debate
                    and differing opinions. </p>
                <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h3>Awards and Recognition </h3>
                <p>We are honored to be recognized for the work we do on behalf of our customers, employees, and
                    communities every day.</p>
                <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->


{% endblock %}